/target
/lib
/classes
/checkouts
/bin
/out
deps.edn
.cpcache
.project
.classpath
pom.xml
deps.edn
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
ideas.txt
benchmarks.txt
todo.txt
/.settings
.nrepl-port
.lein-repl-history
*~
*#*#
.cljs_node_repl/
.idea/
*.iml
*.asc
.nrepl-history